@font-face {
    font-family: 'HomeVideo';
    src: local('HomeVideo'),
    url('./assets/fonts/HomeVideo.ttf') format("truetype");
}

div#root {
    background-color: black;
}

h1 {
    color: white;
}